.content-meta {
  display: none; //sd added to kill date and reading time
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
