details#toc {
  & summary {
    cursor: pointer;

    &::marker {
      color: var(--dark);
    }

    & > * {
      padding-left: 0.25rem;
      display: inline-block;
      margin: 0;
    }
  }

  & ul {
    list-style: none;
    margin: 0.25rem 1.25rem;
    padding: 0;
    & > li {
      margin: 0.15rem 0;
    }
    & a {
      line-height: 1.2;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @for $i from 1 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
