@use "./base.scss";

// put your custom CSS here!

//sd added this below to kill dates in folderPage file list
// .page-listing {
//   li.section-li:has(.section .desc a.internal[href$=date]) {
//     .meta {

//       // choose one:
//       // hides date, removes indent
//       display: none;
//       // hides date, keep indent
//       //visibility: hidden;
//     }
//   }
// }


[saved-theme="dark"] article h1 {
    color: #fe45b3;
}

[saved-theme="dark"] article h2 {
    color: #ff9527;
}   

[saved-theme="dark"] article h3 {
    color: #dcdd26;
}

[saved-theme="dark"] article h4 {
    color: #1ceb9e;
}

[saved-theme="dark"] article h5 {
    color: #19c2ff;
}

[saved-theme="dark"] article h6 {
    color: #c0c0c0;
}


[saved-theme="light"] article h1 {
    color: #fe45b3;
}
    
[saved-theme="light"] article h2 {
    color: #ff9527;
}
    
[saved-theme="light"] article h3 {
    color: #dcdd26;
}
    
[saved-theme="light"] article h4 {
    color: #1ceb9e;
}
    
[saved-theme="light"] article h5 {
    color: #19c2ff;
}
    
[saved-theme="light"] article h6 {
    color: #c5c5c5;
}

/*

#c5c5c5;


[saved-theme="dark"] span.text-highlight {
    background-color: rgba(185, 56, 255, 0.4) !important;
}

[saved-theme="dark"] article h6 {
    color: rgb(187, 154, 247);
}

[saved-theme="dark"] strong {
    color: #7dcfff !important;
}

[saved-theme="dark"] code {
    color: #7dcfff !important;
}

*/